{% extends "base.html" %}
{% import "macros/macros.html" as post_macros %}

{% block main_content %}
    <div class="title">
        {{ post_macros::page_header(title=taxonomy.name) }}
    </div>
    
    <ul class="tags-list">
        {% for term in terms | sort(attribute="name") %}
            <li class="tag-item">
                <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                <span class="tag-count">({{ term.pages | length }})</span>
            </li>
        {% endfor %}
    </ul>
{% endblock main_content %}

